.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}


.dark-mode-toggle {
  float: right;
  margin-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  display: flex;
  align-items: center;
  color: rgb(214, 211, 211); 
  font-size: 13px; 
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(240, 1%, 22%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(240, 1%, 22%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* dm default colors  */

body {
  background-color: #ffffff0a;
  color: #000000;
}

[data-theme="dark"] {
  background-color: #1e1e1e;
  color: #100f0f;
}

/* header text */
.contact-manager-heading {
  margin-right: 210px; 
}

.dark-mode-toggle {
  float: right;
}







