.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}

/* Default styles for light mode */
body {
  background-color: #ffffff0a;
  color: #000000;
}

/* Dark mode styles */
[data-theme="dark"] {
  background-color: #1e1e1e;
  color: #ffffff;
}



